.modifyPassword{
  .el-dialog__body {
    padding: 0 20px;
  }
  .el-dialog__header {
    padding: 20px;
  }
}
.el-menu-vertical-demo {
  .el-menu-item{
    width: 200px;
    border-bottom:1px solid #F0F2F5 ;
    padding: 0px 10px 0 20px !important;
  }
  .el-menu-item:nth-child(1) {
    border-top: 1px solid #F0F2F5;
  }
  .isActives {
    border-left:5px solid #409EFF;
    padding: 0px 10px 0 15px !important;
  }
  .is-opened {
    border: 0 !important;
    padding: 0 !important;
  }
 .item_style {
   padding-left: 40px !important;
   border: 0;
 }
  .el-menu-item-group__title {
    padding: 0;
  }
}
.el-menu-demo {
  .el-tooltip {
    padding: 0px 10px 0 20px !important;
  }
  .el-col {
    width: 100px;
  }
  .el-menu-item{
    width: 100px;
    border-bottom:1px solid #F0F2F5 ;
    padding: 0px 10px 0 20px !important;
  }
  .el-menu-item:nth-child(1) {
    border-top: 1px solid #F0F2F5;
  }
  .is-active {
    border-left:5px solid #409EFF;
    padding: 0px 10px 0 15px !important;
  }
  .is-active .el-tooltip {
    padding: 0px 10px 0 15px !important;
  }
}
.navigation {
  .el-breadcrumb {
    display: flex;
    align-items: center;
    height: 30px;
  }
  .el-breadcrumb__inner {
    display: flex;
    align-items: center;
  }
}
.Dynamic_people {
  .el-select__tags-text {
    color: #409EFF;
  }
  .el-tag__close {
    background-color: white !important;
  }
}
.box-card  {
  .el-card__header{
    padding: 0 0 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888888;
  }
}
.table_quest {
  .is-leaf{
    text-align: center;
  }
  .el-table__row {
    text-align: center;
  }
  .cell {
    text-align: center;
  }
}
.filter-tree {
  .el-tree-node__content {
    padding: 10px;
  }
}
.Step_style {
  width: 1080px;
  margin-left: 200px;
  .el-step__head {
    width: 360px;
  }
  .el-step{
    display: flex;
    position: relative;
    width: 360px !important;
  }
  .el-step__main {
    width: 100px;
    position: absolute !important;
    top:-7px !important;
    left: 30px;
  }
  .el-step__line {
    width: 200px;
    margin-left: 130px;
  }
  .el-step__title {
   font-weight: 500 !important;
    font-size: 16px !important;
  }
  .el-step__icon {
    background-color: #409EFF;
    border: 0 !important;
  }
  .activeStyle .el-step__icon {
    background-color: #67C23A;
  }
  .el-step__icon-inner {
    color: white;
    font-weight: 500;
  }
}
.demo__ruleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warning_text {
  .el-alert {
    display: flex;
    align-items: center;
    width: 600px;
  }
  .el-icon-close {
    font-size: 16px;
    margin-left: 5px;
  }
}
.el-divider--horizontal {
  width: 600px !important;
}
.success {
  .el-step__icon  {
    background-color:#67C23A ;
    border: 0 !important;
    width: 60px;
    height: 60px;
  }
  .el-step__icon-inner {
    color: white;
   font-size: 30px;
    font-weight: 500;
  }
}
.box__card  {
  .clearfix {
    color: #666666;
    font-size: 16px;
  }
}
.Box__card {
  .el-card__header {
    border: 0;
  }
  .el-card__body {
    padding-top: 10px !important;
  }
}
.tab_list {
  .cell {
    height: 35px;
    line-height: 35px !important;
  }
  .is-center {
    padding: 0 !important;
  }
}
.Add_field {
 .el-checkbox-group{
   padding: 5px;
 }
}
.delete_field {
  .el-checkbox-group{
    padding: 5px;
  }
}
.tasks {
  .fc-head {
    border: 0;
  }
  .fc-center {
    font-weight: 500 !important;
    color: #333333 !important;
  }
  .fc-row {
    padding-bottom: 20px;
  }
  .fc-head-container {
    border: 0;
  }
  .fc-day-header {
    border: 0;
    color: #444444;
    font-weight: 500;
  }
  .fc-button-group {
  }
  .fc-prev-button {
    background: white;
    width: 60px;
    padding: 0;

  }
  .fc-next-button {
    background: white;
    width: 60px;
    padding: 0;
  }
/*  .fc-today-button {
    padding: 0;
    background-color: white;
    border: 0;
    color: #45B984;
  }*/
  .fc-today-button {
    font-size: 15px;
    color: #45B984;

  }
  .fc-icon {
    font-weight: 500 !important;
    color: #444444 !important;
  }
  .fc-button-group {
    margin-left: 20px;
    font-size: 15px;

    button {
      width: 80px;
      color: #000;
      border: 1px solid #bbbfcd;
    }

    button:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    button:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .fc-event-container {

  }
  .fc-day-grid-event {
    border: 1px solid #CAE8CA !important;
    margin: 0 !important;
    color: #666666;
  }
.fc-content {
  background-color: #E0EFD5;
  color: #333333;
}
  .fc-past {
    color: #666666;
  }
  .fc-today {
    color: #666666;
  }
  .fc-future {
    color: #666666;
  }
 .fc-day-top {
   padding: 10px 10px 0 10px;
 }
}
.form {
  .el-dialog__title {
    display: block;
    color: #409EFF !important;
    border-bottom: 4px solid #409EFF;
    height: 30px;
    width: 40px;
  }
}


